body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    main{
    background-color: #2D593C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    padding: 1rem 0;  
    gap: 1rem;
    border-radius: 1rem;
    width: 400px;
}
h1{
    text-transform: uppercase;
    color: #ffff;
    width: 100%;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}

input{
    height: 2.5rem;
    border-radius: 0.8rem;
    border: 1.5px solid #000;
    }

label{
    color: #ffff;
}
.container-input{
    display: flex;
    flex-direction: column;
}

.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-sub{
    background-color: #4C9F70;
    height: 2rem;
    width: 200px;
    color: #ffff;
    border-radius: 0.8rem;
    border: 1.5px solid #ffff;
    cursor: pointer;
}
.btn-sub:hover{
    background-color: #518362;
}

input[type="file"]{
    display: none;
}

.btn-upload{
    background-color: #ffff;
    border: 1.5px solid #000;
    border-radius: 0.8rem;
    color: #000;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    padding: 0.4rem;
}
